<script>
    function openModal(){
        var modal = document.getElementById("myModal");
        modal.style.display = "block";
    }
    window.onclick = function(event) {
        var modal = document.getElementById("myModal");
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
<div class="spacer">
</div>
<div id="navbar" class="footDiv">
    <a href="/home" class="iconwrapper">
        <span class="navicon {{#if_string_equal page "home"}}active{{/if_string_equal}}">
            <i class="fa fa-home"></i>
        </span>
    </a>
    <a href="/library" class="iconwrapper">
        <span class="navicon {{#if_string_equal page "library"}}active{{/if_string_equal}}">
            <i class="fas fa-heart"></i>
        </span>
    </a>
    <a onclick="openModal()" class="iconwrapper">
        <span class="navicon {{#if_string_equal page "preferences"}}active{{/if_string_equal}}">
            <i class="fas fa-user-cog"></i>
        </span>
    </a>
</div>

<div id="myModal" class="modal">
    <div class="modal-content">
        <a class="modalLink" href="/preferences">Preferences</a>
        <form id="logoutform" class="logout" method="POST" role="form" action="/logout">
            <input type="submit" class="modalLink" value="Sign Out"/>
        </form>
    </div>
</div>