<footer>
    <div class="footDiv">
        <button onclick="window.location.href='/'" type="button" class="btn btn-lg">
            <span style="font-size: 35px; color: white">
                <i class="fa fa-home"></i>
            </span>
        </button>
        <button onclick="window.location.href='/library'" type="button" class="btn btn-lg">
            <span style="font-size: 35px; color: white">
                <i class="fas fa-heart"></i>
            </span>
        </button>
        <button onclick="window.location.href='/search'" type="button" class="btn btn-lg">
            <span style="font-size: 35px; color: white">
                <i class="fas fa-search"></i>
            </span>
        </button>
        <button onclick="window.location.href='/preferences'" type="button" class="btn btn-lg">
            <span style="font-size: 35px; color: white">
                <i class="fas fa-user-cog"></i>
            </span>
        </button>
    </div>
</footer>