<div class="spacer">
</div>
<div class="footDiv">
    <a href="/" class="iconwrapper active">
        <span class="navicon">
            <i class="fa fa-home"></i>
        </span>
    </a>
    <a href="/library" class="iconwrapper">
        <span class="navicon">
            <i class="fas fa-heart"></i>
        </span>
    </a>
    <a href="/search" class="iconwrapper">
        <span class="navicon">
            <i class="fas fa-search"></i>
        </span>
    </a>
    <a href="/preferences" class="iconwrapper">
        <span class="navicon">
            <i class="fas fa-user-cog"></i>
        </span>
    </a>
</div>