<html>
    <head>
        <title>yum-my-recipes</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" href="/css/stylesheet.css">
        <link rel="icon" href="/images/food-logo.png">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-auto-replace-svg="nest"></script>
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
        <script>
            $(document).ready(function() {
                $("#close-bad-banner").click(closeBadBanner);
                $("#close-good-banner").click(closeGoodBanner);
            })
            function closeBadBanner() {
                $(".badbanner")[0].style.display = 'none';
            }
            function closeGoodBanner() {
                $(".goodbanner")[0].style.display = 'none';
            }
        </script>
    </head>
    <body>
        {{#if failed}}
            <div class="badbanner">
                <p class="message">Incorrect login credentials</p>
                <span id="close-bad-banner" class="close">&times</span>
            </div>
        {{/if}}
        {{#if signupsuccess}}
            <div class="goodbanner">
                <p class="message">Account created successfully!</p>
                <span id="close-good-banner" class="close">&times</span>
            </div>
        {{/if}}
        <img src="/images/food-logo.png" class="app-logo">
        <form id="loginform" method="POST" role="form" action="/">
            <input class="text-field" type="text" placeholder="Username" name="username" id="username"></input>
            <input class="text-field" type="password" placeholder="Password" name="password" id="password"></input>
            <input class="login-button" type="submit" value="Login" id="loginButton"></input>
        </form>
        <form id="signupform" method="POST" role="form" action="/signup">
            <input type="hidden" name="login" id="login" value="true">
            <input class="signup-button" type="submit" value="Sign Up"></input>
        </form>
    </body>
</html>