.ourrow {
    width: 100% !important;
    margin: 0 !important;
}

.button {
   color: black;
   font-size: 160%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container1 {
    position: relative;
    text-align: center;
    padding: 0;
    margin: 0;
}

.cuisine {
    height: 40vw;
    width: 40vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 0px;
    background-color: #2F2F2F;
  }

.footDiv {
    justify-content: space-between;
    display: flex;
}

.lastRow {
    margin-bottom: 100px !important;
}

.right {
    float: right;
    margin-right: 7vw;
}


.left {
    float: left;
    margin-left: 7vw;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 50%;
}

.search {
    margin-left: auto;
    margin-right: auto;
    width: 85% !important;

}

.title {
    text-align: center;
    padding: 15px 40px;
}

.recipe {
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 20px;
    position: relative;
    padding: 0;
}

.small-image {
    width: 90%;
    height: 80%;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 20px;
    position: absolute;
    border: 1px solid black;
}

.recipe-block {
    height: 100%;
    width: 100%;
    margin: 0 !important;
}

.recipe-center {
    margin: auto;
    width: 90%;
}

.info {
    padding-top: 10px;
}

.recipe-col {
    height: 100%;
    padding: 10px !important;
}

.bigbutton {
    color: black;
}

.icon-col {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.topRow {
    display: flex;
    justify-content: space-between;
}

.backButton {
    z-index: 2;
    position: absolute;
    padding-top: 10px;
}

.ourcol {
    padding: 0 !important;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}