body {
    font-family: 'Lato', sans-serif !important;
    font-weight: 300;
}

.ourrow {
    width: 100% !important;
    margin: 0 !important;
}

.button {
   color: black;
   font-size: 160%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
}

.container1 {
    position: relative;
    text-align: center;
    padding: 0;
    margin: 0;
}

.cuisine {
    height: 40vw;
    width: 40vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footDiv {
    justify-content: space-between;
    display: flex;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #212529;
}

.lastRow {
    margin-bottom: 100px !important;
}

.right {
    float: right;
    margin-right: 7vw;
}

.left {
    float: left;
    margin-left: 7vw;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 50%;
}

.search {
    margin-left: auto;
    margin-right: auto;
    width: 85% !important;

}

.title {
    text-align: center;
    padding: 15px 40px;
    font-weight: 700;
}

.recipe {
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 20px;
    position: relative;
    padding: 0;
}

.small-image {
    width: 90%;
    height: 80%;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 20px;
    position: absolute;
    border: 1px solid black;
}

.recipe-block {
    height: 100%;
    width: 100%;
    margin: 0 !important;
}

.recipe-center {
    margin: auto;
    width: 90%;
}

.info {
    padding-top: 10px;
}

.recipe-col {
    height: 100%;
    padding: 10px !important;
}

.bigbutton {
    color: black;
}

.icon-col {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.topRow {
    display: flex;
    justify-content: space-between;
}

.backButton {
    z-index: 2;
    position: absolute;
    padding-top: 10px;
}

.ourcol {
    padding: 0 !important;
}

.spacer {
    height: 90px;
}

.active {
    background-color: #6C757D;
}

.navicon {
    font-size: 35px; 
    color:white;
}

.iconwrapper {
    padding: 25px;
}

.logoImage {
    width: 80%;
    height: 50%;
    margin-left: auto;
    margin-right:auto;
    display: block;
}

.loginForm {
    margin-left: auto;
    margin-right:auto;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    display: block;
    width: 70%;
    border-radius: 20px;
    border: solid 1px black;
}

.loginForm:focus {
    outline: none;
    border: solid 2px black;
}

.loginTitle {
    margin-top: 30px;
    text-align: center;
}

.loginButton {
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 5px;
    display: block;
    width: 30%;
    border-radius: 20px;
    border: none;
    background-color: #59C05A;
    color: white;
    font-size: 20px;
}

.signUpButton {
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
    display: block;
    width: 30%;
    border-radius: 20px;
    border: none;
    background-color: #4384F3;
    color: white;
    font-size: 20px;
}

.loginButton:focus {
    outline: none;
}
